/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.container .header-box {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header-box nav {
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .header-box nav ul > li {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.container .header-box a {
  color: #5eb6e1;
}

.container .header-box .burger-bar {
  display: none;
}

.s-1 {
  background-image: url(../images/bg.png);
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-1 .box {
  margin-top: 190px;
  margin-left: 190px;
}

.s-1 .box > h3 {
  color: #ffffff;
  opacity: 75%;
  font-size: 20px;
  margin-bottom: 20px;
}

.s-1 .box > h2 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 70px;
}

.s-1 .box > button {
  width: 150px;
  background-color: #5eb6e1;
  color: #000000;
  border: 1px #5eb6e1 solid;
  border-radius: 5%;
  padding: 15px;
  cursor: pointer;
}

.s-1 .box > button:hover {
  background-color: aqua;
  -webkit-box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
          box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
}

.s-1 .social-icons {
  width: 30px;
  height: 150px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-1 .social-icons > a {
  color: #000000;
}

.s-1 .social-icons > a:hover {
  margin-left: 15px;
  color: #280e88;
}

.s-2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

.s-2 .mini-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s-2 .mini-box .bg-img-1 {
  background-image: url(../images/img1.png);
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-2 .mini-box .bg-img-1 > h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 7px;
}

.s-2 .mini-box .bg-img-1 > h5 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 25px;
}

.s-2 .mini-box .bg-img-1 > button {
  width: 100px;
  padding: 7px;
  background-color: #ff6c2c;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.s-2 .mini-box .bg-img-1 > button:hover {
  background-color: #fc530b;
  -webkit-box-shadow: 5px 6px 14px -2px #fc530b;
          box-shadow: 5px 6px 14px -2px #fc530b;
}

.s-2 .mini-box .bg-img-2 {
  background-image: url(../images/img2.png);
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-2 .mini-box .bg-img-2 > h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 7px;
}

.s-2 .mini-box .bg-img-2 > h5 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 25px;
}

.s-2 .mini-box .bg-img-2 > button {
  width: 100px;
  padding: 7px;
  background-color: #945b9f;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.s-2 .mini-box .bg-img-2 > button:hover {
  background-color: #c80bee;
  -webkit-box-shadow: 5px 6px 14px -2px #c80bee;
          box-shadow: 5px 6px 14px -2px #c80bee;
}

.s-2 .mini-box .bg-img-3 {
  background-image: url(../images/img1.png);
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-2 .mini-box .bg-img-3 > h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 7px;
}

.s-2 .mini-box .bg-img-3 > h5 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 25px;
}

.s-2 .mini-box .bg-img-3 > button {
  width: 100px;
  padding: 7px;
  background-color: #5EB6E1;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.s-2 .mini-box .bg-img-3 > button:hover {
  background-color: #08aafc;
  -webkit-box-shadow: 5px 6px 14px -2px #08aafc;
          box-shadow: 5px 6px 14px -2px #08aafc;
}
/*# sourceMappingURL=global.css.map */