/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.s-4 .container .img-box .bg, .s-4 .container .img-box .bg-2, .s-4 .container .img-box .bg-3, .s-4 .container .img-box .bg-4, .s-4 .container .img-box .bg-5, .s-4 .container .img-box .bg-6 {
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 380px;
  height: 300px;
}

.s-4 .container .img-box .bg > h2, .s-4 .container .img-box .bg-3 > h2, .s-4 .container .img-box .bg-4 > h2, .s-4 .container .img-box .bg-5 > h2, .s-4 .container .img-box .bg-6 > h2 {
  color: #ffffff;
  font-size: 30px;
  background-color: #13191a;
  width: 100%;
  padding: 10px;
  opacity: 58%;
}

.s-8 .container1 form > select, .s-8 .container1 form > input[type="email"], .s-8 .container1 form > textarea {
  width: 400px;
  padding: 5px;
  border: 1px #5EB6E1 solid;
  color: #BBBBBB;
  opacity: 80%;
  background-color: #181A1F;
  margin-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.container .header-box {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header-box nav {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .header-box nav ul > li > a {
  font-size: 20px;
  color: #000000;
}

@media (max-width: 730px) {
  .container .header-box nav > ul {
    display: none;
  }
}

.container .header-box a {
  color: #5eb6e1;
}

@media (max-width: 970px) {
  .container .header-box a > i {
    display: none;
  }
}

.container .header-box .burger-bar {
  display: none;
}

@media (max-width: 730px) {
  .container .header-box .burger-bar {
    display: block;
    font-size: 32px;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

.s-1 {
  background-image: url(../images/bg.png);
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-1 .box {
  margin-top: 190px;
  margin-left: 190px;
}

.s-1 .box > h3 {
  color: #ffffff;
  opacity: 75%;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 540px) {
  .s-1 .box > h3 {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .s-1 .box > h3 {
    font-size: 14px;
  }
}

.s-1 .box > h2 {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 70px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 540px) {
  .s-1 .box > h2 {
    font-size: 22px;
  }
}

@media (max-width: 350px) {
  .s-1 .box > h2 {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.s-1 .box > button {
  width: 150px;
  background-color: #5eb6e1;
  color: #000000;
  border: 1px #5eb6e1 solid;
  border-radius: 5%;
  padding: 15px;
  cursor: pointer;
}

.s-1 .box > button:hover {
  background-color: aqua;
  -webkit-box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
          box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
}

@media (max-width: 350px) {
  .s-1 .box > button {
    width: 70px;
    font-size: 10px;
  }
}

@media (max-width: 670px) {
  .s-1 .box {
    margin-left: 90px;
  }
}

@media (max-width: 400px) {
  .s-1 .box {
    margin-left: 70px;
    margin-top: 70px;
    width: auto;
  }
}

.s-1 .social-icons {
  width: 30px;
  height: 150px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-1 .social-icons > a {
  color: #000000;
}

.s-1 .social-icons > a:hover {
  margin-left: 15px;
  color: #280e88;
}

@media (max-width: 400px) {
  .s-1 .social-icons {
    height: 80px;
  }
}

.s-2 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

.s-2 .mini-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-2 .mini-box .bg-img-1 {
  background-image: url(../images/img1.png);
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-2 .mini-box .bg-img-1 > h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 7px;
}

.s-2 .mini-box .bg-img-1 > h5 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 5px;
}

.s-2 .mini-box .bg-img-1 > button {
  width: 100px;
  padding: 7px;
  background-color: #ff6c2c;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.s-2 .mini-box .bg-img-1 > button:hover {
  background-color: #fc530b;
  -webkit-box-shadow: 5px 6px 14px -2px #fc530b;
          box-shadow: 5px 6px 14px -2px #fc530b;
}

@media (max-width: 330px) {
  .s-2 .mini-box .bg-img-1 {
    width: 250px;
  }
}

.s-2 .mini-box .bg-img-2 {
  background-image: url(../images/img2.png);
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-2 .mini-box .bg-img-2 > h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 7px;
}

.s-2 .mini-box .bg-img-2 > h5 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 25px;
}

.s-2 .mini-box .bg-img-2 > button {
  width: 100px;
  padding: 7px;
  background-color: #945b9f;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.s-2 .mini-box .bg-img-2 > button:hover {
  background-color: #c80bee;
  -webkit-box-shadow: 5px 6px 14px -2px #c80bee;
          box-shadow: 5px 6px 14px -2px #c80bee;
}

@media (max-width: 666px) {
  .s-2 .mini-box .bg-img-2 {
    margin-top: 20px;
  }
}

@media (max-width: 330px) {
  .s-2 .mini-box .bg-img-2 {
    width: 250px;
  }
}

.s-2 .mini-box .bg-img-3 {
  background-image: url(../images/img3.png);
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-2 .mini-box .bg-img-3 > h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 7px;
}

.s-2 .mini-box .bg-img-3 > h5 {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 25px;
}

.s-2 .mini-box .bg-img-3 > button {
  width: 100px;
  padding: 7px;
  background-color: #5eb6e1;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.s-2 .mini-box .bg-img-3 > button:hover {
  background-color: #08aafc;
  -webkit-box-shadow: 5px 6px 14px -2px #08aafc;
          box-shadow: 5px 6px 14px -2px #08aafc;
}

@media (max-width: 1010px) {
  .s-2 .mini-box .bg-img-3 {
    margin-top: 20px;
  }
}

@media (max-width: 330px) {
  .s-2 .mini-box .bg-img-3 {
    width: 250px;
  }
}

@media (max-width: 666px) {
  .s-2 .mini-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1200px) {
  .s-2 {
    width: 90%;
  }
}

.s-3 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.s-3 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-3 .content .content-box {
  width: 350px;
}

.s-3 .content .content-box > h6 {
  color: #ff6c2c;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}

.s-3 .content .content-box > h3 {
  color: #292f39;
  font-size: 25px;
  font-family: "Gideon Roman", cursive;
  margin-bottom: 30px;
}

.s-3 .content .content-box > h4 {
  color: #ff6c2c;
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
}

.s-3 .content .content-box > p {
  font-size: 16px;
  color: #9e9e9e;
  opacity: 80%;
  line-height: 1.2;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

.s-3 .content .content-box > button {
  background-color: #5eb6e1;
  color: #000000;
  border: none;
  border-radius: 5%;
  width: 110px;
  padding: 8px;
  cursor: pointer;
}

.s-3 .content .content-box > button:hover {
  background-color: aqua;
  -webkit-box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
          box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
}

@media (max-width: 654px) {
  .s-3 .content .content-box {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .s-3 .content .content-box {
    width: auto;
  }
}

.s-3 img {
  max-width: 300px;
  width: 100%;
  height: 350px;
}

@media (max-width: 988px) {
  .s-3 img {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .s-3 {
    width: 90%;
  }
}

.s-4 {
  background-color: #222224;
}

.s-4 .container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px 0;
  text-align: center;
}

.s-4 .container > h2 {
  color: #ffffff;
  font-size: 45px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 400px) {
  .s-4 .container > h2 {
    font-size: 30px;
  }
}

.s-4 .container > h4 {
  margin: 0 auto;
  width: 700px;
  color: #ffffff;
  font-size: 15px;
  opacity: 80%;
  line-height: 1.4;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 738px) {
  .s-4 .container > h4 {
    width: auto;
    height: auto;
  }
}

@media (max-width: 400px) {
  .s-4 .container > h4 {
    font-size: 14px;
  }
}

.s-4 .container .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s-4 .container .img-box > img {
  width: 350px;
}

@media (max-width: 370px) {
  .s-4 .container .img-box > img {
    width: 200px;
  }
}

.s-4 .container .img-box .bg {
  background-image: url(../images/image.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.s-4 .container .img-box .bg-2 {
  background-image: url(../images/image2.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-4 .container .img-box .bg-2 .content-box {
  width: 300px;
  height: 200px;
  background-color: #00a2ff;
  opacity: 80%;
}

.s-4 .container .img-box .bg-2 .content-box > h3 {
  color: #ffffff;
  font-size: 25px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.s-4 .container .img-box .bg-2 .content-box > p {
  color: #ffffff;
  font-size: 12px;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (max-width: 370px) {
  .s-4 .container .img-box .bg-2 .content-box > p {
    width: auto;
  }
}

.s-4 .container .img-box .bg-2 .content-box > button {
  border: 1px #ffffff solid;
  padding: 6px;
  border-radius: 25px;
  width: 120px;
  color: #1b2e35;
  cursor: pointer;
}

.s-4 .container .img-box .bg-2 .content-box > button:hover {
  padding: 8px;
}

@media (max-width: 370px) {
  .s-4 .container .img-box .bg-2 .content-box > button {
    margin-bottom: 10px;
  }
}

@media (max-width: 370px) {
  .s-4 .container .img-box .bg-2 .content-box {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 844px) {
  .s-4 .container .img-box .bg-2 {
    margin-top: 30px;
  }
}

.s-4 .container .img-box .bg-3 {
  background-image: url(../images/image3.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1138px) {
  .s-4 .container .img-box .bg-3 {
    margin-top: 30px;
  }
}

.s-4 .container .img-box .bg-4 {
  background-image: url(../images/image4.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1138px) {
  .s-4 .container .img-box .bg-4 {
    margin-top: 30px;
  }
}

.s-4 .container .img-box .bg-5 {
  background-image: url(../images/image5.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1138px) {
  .s-4 .container .img-box .bg-5 {
    margin-top: 30px;
  }
}

.s-4 .container .img-box .bg-6 {
  background-image: url(../images/image6.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1138px) {
  .s-4 .container .img-box .bg-6 {
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  .s-4 .container {
    width: 90%;
  }
}

.s-5 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.s-5 .content {
  text-align: center;
}

.s-5 .content > h2 {
  font-size: 40px;
  color: #292f39;
  margin-bottom: 9px;
}

.s-5 .content .line {
  border-bottom: 1px #00a2ff solid;
  width: 90px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.s-5 .content > p {
  width: 700px;
  margin: 0 auto;
  color: #292f39;
  font-size: 20px;
  opacity: 80%;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .s-5 .content > p {
    width: auto;
  }
}

.s-5 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.s-5 .cards .card {
  width: 320px;
  text-align: center;
}

.s-5 .cards .card:hover {
  border: 1px blue solid;
}

.s-5 .cards .card > img {
  width: 100%;
  margin-bottom: 20px;
}

.s-5 .cards .card > h4 {
  color: #292f39;
  font-size: 30px;
  margin-bottom: 15px;
}

.s-5 .cards .card > h5 {
  color: #292f39;
  font-size: 18px;
  opacity: 80%;
  margin-bottom: 10px;
}

.s-5 .cards .card i:not(last-child) {
  margin-left: 10px;
}

.s-5 .cards .card i:nth-child(1) {
  color: #0739ff;
}

.s-5 .cards .card i:nth-child(2) {
  color: #00a2ff;
}

.s-5 .cards .card i:nth-child(3) {
  color: #f933df;
}

.s-5 .cards .card i:hover {
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1066px) {
  .s-5 .cards .card {
    margin-top: 25px;
  }
}

.s-5 button {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 50px;
  padding: 11px;
  border-radius: 10px;
  border: none;
  background-color: #5eb6e1;
  color: black;
  cursor: pointer;
  margin-bottom: 40px;
}

.s-5 button:hover {
  background-color: #0eacfc;
  -webkit-box-shadow: 5px 6px 14px -2px #0eacfc;
          box-shadow: 5px 6px 14px -2px #0eacfc;
}

@media (max-width: 400px) {
  .s-5 button {
    width: 150px;
    padding: 6px;
  }
}

@media (max-width: 1200px) {
  .s-5 {
    width: 90%;
  }
}

.s-6 {
  background-color: #181a1f;
  padding: 30px 0;
}

.s-6 .container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.s-6 .container .content {
  text-align: center;
}

.s-6 .container .content > h3 {
  font-size: 35px;
  color: #ffffff;
  margin-bottom: 20px;
}

.s-6 .container .content .line {
  border-bottom: 2px #5eb6e1 solid;
  width: 90px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

.s-6 .container .content > p {
  font-size: 18px;
  line-height: 1.3;
  color: #c5c5c5;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 528px) {
  .s-6 .container .content > p {
    width: auto;
  }
}

.s-6 .container .content > img {
  margin-bottom: 15px;
}

.s-6 .container .content > h5 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

.s-6 .container .content > h6 {
  color: #ffffff;
  font-size: 13px;
  opacity: 80%;
}

@media (max-width: 1200px) {
  .s-6 .container {
    width: 90%;
  }
}

.s-7 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}

.s-7 > h2 {
  font-size: 35px;
  color: #292f39;
  margin-bottom: 25px;
  text-align: center;
}

.s-7 .line {
  border-bottom: 2px #5eb6e1 solid;
  width: 90px;
  margin: 0 auto;
  display: block;
  margin-bottom: 60px;
}

.s-7 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

.s-7 .cards .card {
  width: 300px;
  background-color: #13191a;
  padding: 20px;
}

.s-7 .cards .card > img {
  width: 100%;
  margin-bottom: 25px;
}

.s-7 .cards .card > h4 {
  color: #5eb6e1;
  font-size: 17px;
  margin-bottom: 20px;
}

.s-7 .cards .card > p {
  font-size: 12px;
  color: #bbbbbb;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}

.s-7 .cards .card > a {
  font-size: 10px;
  color: #bbbbbb;
  margin-right: 20px;
}

.s-7 .cards .card > a > i {
  color: #5eb6e1;
}

@media (max-width: 999px) {
  .s-7 .cards .card {
    margin-top: 20px;
  }
}

.s-7 > button {
  width: 200px;
  margin: 0 auto;
  display: block;
  padding: 13px;
  color: #000000;
  background-color: #5eb6e1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.s-7 > button:hover {
  background-color: aqua;
  -webkit-box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
          box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
}

@media (max-width: 1200px) {
  .s-7 {
    width: 90%;
  }
}

.s-8 {
  background-color: #181a1f;
  margin-top: 100px;
}

.s-8 .container1 {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s-8 .container1 h2 {
  color: #ffffff;
  font-size: 45px;
  margin-bottom: 20px;
}

@media (max-width: 430px) {
  .s-8 .container1 h2 {
    text-align: center;
  }
}

.s-8 .container1 .line {
  border-bottom: 2px #5eb6e1 solid;
  width: 90px;
  display: block;
  margin-bottom: 35px;
}

@media (max-width: 430px) {
  .s-8 .container1 .line {
    margin: 0 auto;
  }
}

.s-8 .container1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s-8 .container1 form > select {
  outline: none;
}

@media (max-width: 430px) {
  .s-8 .container1 form > select {
    width: 270px;
    margin-top: 30px;
  }
}

.s-8 .container1 form > input[type="email"] {
  outline: none;
}

@media (max-width: 430px) {
  .s-8 .container1 form > input[type="email"] {
    width: 270px;
  }
}

.s-8 .container1 form > textarea {
  resize: none;
  height: 150px;
  outline: none;
}

@media (max-width: 430px) {
  .s-8 .container1 form > textarea {
    width: 270px;
  }
}

.s-8 .container1 form > input[type="submit"] {
  width: 400px;
  padding: 10px;
  background-color: #5eb6e1;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.s-8 .container1 form > input[type="submit"]:hover {
  background-color: aqua;
  -webkit-box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
          box-shadow: 5px 6px 14px -2px rgba(27, 201, 201, 0.72);
}

@media (max-width: 430px) {
  .s-8 .container1 form > input[type="submit"] {
    width: 270px;
  }
}

@media (max-width: 430px) {
  .s-8 .container1 form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.s-8 .container1 .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.s-8 .container1 .contact .vertical-line {
  height: 17px;
  border-left: 1px #ffffff solid;
  display: block;
  margin-right: 20px;
}

.s-8 .container1 .contact > p {
  margin-right: 30px;
  color: #ffffff;
}

@media (max-width: 430px) {
  .s-8 .container1 .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.s-8 .container1 .icons {
  color: #5eb6e1;
  cursor: pointer;
}

.s-8 .container1 .icons > i:not(last-child) {
  margin-right: 20px;
}

@media (max-width: 430px) {
  .s-8 .container1 .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.s-8 .container1 > img {
  max-width: 600px;
  width: 100%;
  height: 620px;
}

@media (max-width: 999px) {
  .s-8 .container1 > img {
    margin-top: 30px;
  }
}

@media (max-width: 525px) {
  .s-8 .container1 > img {
    height: auto;
  }
}

.footer {
  background-color: #19191c;
}

.footer .container {
  padding: 40px 0;
}

.footer .container .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .footer-row .first-column {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .footer-row .first-column > h3 {
  color: #ffffff;
  font-size: 27px;
  margin-bottom: 20px;
}

.footer .container .footer-row .first-column > p {
  color: #bcbcbc;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer .container .footer-row .first-column > a {
  color: #bbbbbb;
  margin-bottom: 10px;
}

.footer .container .footer-row .first-column > a > i {
  color: #5eb6e1;
}

@media (max-width: 490px) {
  .footer .container .footer-row .first-column {
    margin-top: 30px;
  }
}

.footer .container .footer-row .icon {
  color: #5eb6e1;
  cursor: pointer;
}

.footer .container .footer-row .icon > i:not(last-child) {
  margin-right: 15px;
}

@media (max-width: 490px) {
  .footer .container .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.footer .container .second-column {
  max-width: 290px;
  width: 100%;
}

.footer .container .second-column > h3 {
  color: #ffffff;
  font-size: 27px;
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .footer .container .second-column > h3 {
    margin-top: 30px;
  }
}

.footer .container .second-column .square-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .second-column .square-wrapper > h2 {
  width: 90px;
  padding: 7px;
  border: 1px #979797 solid;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  color: #bbbbbb;
}

.footer .container .second-column .square-wrapper > h2:hover {
  background-color: #5eb6e1;
  color: #ffffff;
}

@media (max-width: 769px) {
  .footer .container .second-column {
    text-align: center;
  }
}
/*# sourceMappingURL=global.css.map */