%bg-image-params{
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;

    width: 380px;
    height: 300px;

}

%bg-image-text{
    color: #ffffff;
    font-size: 30px;
    background-color: #13191a;
    width: 100%;
    padding: 10px;
    opacity: 58%;
}

%iinput-params{
    width: 400px;
    padding: 5px;
    border: 1px #5EB6E1 solid;
    color: #BBBBBB;
    opacity: 80%;
    background-color: #181A1F;
    margin-bottom: 20px;
}