%bg-image-params{
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;

    width: 380px;
    height: 300px;

}

%bg-image-text{
    color: #ffffff;
    font-size: 30px;
    background-color: #13191a;
    width: 100%;
    padding: 10px;
    opacity: 58%;
}